#
# File managed by Ansible in ansible-role-terraform 
#

{
  "credentials": {
{% for item in terraform_backend_creds | dict2items %}    
    "{{ item.key }}": {
      "token": "{{ item.value }}"
    }
{% endfor %}
  }
}